---
import PfjasLayout from "../layouts/pfjasLayout.astro";
import HeaderTitle from "../components/about-us/header-title.astro";
import Coordinadores from "../components/about-us/coordinadores.tsx";
import CarrusellTestimonies from "../components/about-us/carrusell-testimonies.tsx";
---

<PfjasLayout>
  <section
    class="flex items-center justify-center h-screen bg-[url('../img/banner-mobile.webp')] md:bg-[url('../img/banner-desktop.webp')] bg-cover md:bg-size-[auto_100vw] bg-center bg-no-repeat"
  >
    <HeaderTitle />
  </section>
  <section class="flex items-center justify-center h-auto bg-[#0B1F1D]">
    <Coordinadores client:visible />
  </section>
  <section
    class="flex items-center justify-center h-screen w-full bg-green-800"
  >
    <div class="w-10/12 h-10/12 mx-auto">
      <h1 class="text-center mb-10">Que encontraras en el PFJAS??</h1>
      <CarrusellTestimonies client:only />
    </div>
  </section>
  <section></section>
</PfjasLayout>
