---
import PfjasLayout from "../layouts/pfjasLayout.astro"
import HeaderTitle from "../components/about-us/header-title.astro"
import Coordinadores from "../components/about-us/coordinadores.astro"
import CarrusellTestimonies from "../components/about-us/carrusell-testimonies.tsx"
---

<PfjasLayout>
  <section class="flex items-center justify-center h-screen bg-[#0B1F1D]">
    <HeaderTitle/>
  </section>
  <section class="flex items-center justify-center h-screen">
    <Coordinadores/>
  </section>
  <section class="flex items-center justify-center h-screen w-full bg-green-800">
    <div class="w-10/12">
      <CarrusellTestimonies client:only/>
    </div>
  </section>
  <section>

  </section>

</PfjasLayout>