---

---

<div class="text-center">
    <h1>Conoce a nuestros coordinadores</h1>
    <div class="flex flex-col-reverse md:flex-row justify-center items-center gap-20 w-full">

    <div class="w-3/6 flex flex-col justify-center items-center">
        <h1 class="text-3xl font-bold text-center mb-4 text-[#F4D047]">Hablare a tu mente y a tu corazon</h1>
        <p class="text-lg text-center text-yellow-100">
            D y C 8: 1-2
        </p>
    </div>
    <div class="w-3/6 flex justify-center items-center">
        <img src="https://scontent.fsal5-1.fna.fbcdn.net/v/t39.30808-6/497516652_10085044988219614_3078037192035981564_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=kCrDHOoY5-gQ7kNvwEQ14eM&_nc_oc=AdlqNPPgI5o-wzVkZvyNiLIuLPZP4sMkb5N2xqDb6LazrJ984bHsKV1ijxY9jZK-fag&_nc_zt=23&_nc_ht=scontent.fsal5-1.fna&_nc_gid=IZMBu4Lbt3IPrJVgpALkLw&oh=00_AfLHOrkuyy62KpBgXCYtrWaOr4yOHujlGI4wSx6OS9jYKg&oe=683D9D79" alt="PFJAS El Salvador Logo" class="w-32 h-32  md:w-64 md:h-64 mx-auto mb-4 rounded-full shadow-lg">
    </div>
</div>
</div>
